body{
    padding: 0px;
    margin: 0px;
}

/* section-1 */
.section-flex{
    display: flex;
}
.half-width{
  width: 50%;
  padding: 5%;
}
.half-width img{
 width: 300px;
 height: 300px;
 margin-bottom: 100px;
 }
.border-left{
 border-left:5px solid green;
 font-size: 25px;
}
.border-left h1{
    line-height: 27px;
}
.orange-color{
    color: orange;
}
.button{
    background-color: crimson;
    padding: 10px 30px;
    margin-top:10px;
    text-decoration: none;
    color: wheat;
    border-radius: 5px;  
}

/* section-2*/
.section-2 h1{
    text-align: center;
    font-size: 40px;
}
.bg-color-card{
    height: 500px;
    margin:5px;
    border-radius: 20px;
}
.bg-color-card-1{
    background-color: plum;
}
.bg-color-card-2{
    background-color: silver;
}
.bg-color-card-3{
    background-color: tan;
}
.margin-top-minus{
    margin-top: -150px;
  }

/* section-3 */
.font-size{
    font-size:50px;
}
.half-width-image{
    width: 600px;
    height: 400px;
}
.malan-heading{
    text-align: center;
    font-size: 25px;
}

/* footer design */
.footer-design{
    background-color: midnightblue;
    text-align: center;
    color: white;
    padding: 15px 0;
}
span{
    color: tomato;
    margin-left: 5px;
}


